{% extends "base.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}
<div class="container py-5" style="max-width: 480px;">
  <h2 class="mb-4">Zaloguj się</h2>
  <form method="post" action="{{ url_for('auth.login') }}">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Hasło</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Zaloguj</button>
      <p>
    Nie masz konta?
    <a href="{{ url_for('auth.register') }}">Zarejestruj się</a>
      </p>

  </form>
</div>
{% endblock %}


