{% extends "base.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<div class="container py-3">
    <div class="d-flex flex-wrap align-items-center gap-2 mb-3 border-bottom pb-2">
        <a class="btn {{ 'btn-dark' if request.endpoint == 'portfolio.portfolio_analysis' else 'btn-outline-secondary' }}"
           href="{{ url_for('portfolio.portfolio_analysis') }}">Analiza</a>

        <a class="btn {{ 'btn-dark' if request.endpoint == 'portfolio.portfolio' else 'btn-outline-secondary' }}"
           href="{{ url_for('portfolio.portfolio') }}">Historia</a>


        <a class="btn {{ 'btn-dark' if request.endpoint == 'portfolio.portfolio_calendar' else 'btn-outline-secondary' }}"
           href="{{ url_for('portfolio.portfolio_calendar') }}">Kalendarz</a>
    </div>

    {% block portfolio_content %}{% endblock %}
</div>
{% endblock %}